@media screen and (max-width: 991px) {
  /* =============== LogIn Page CSS ================= */
  .logIn_page .login_img{
    display: none;
  }

  .logIn_page .login_form{
    height: 94vh;
  }
}

@media screen and (max-width: 768px) {
  /* =============== LogIn Page CSS ================= */
  .logIn_page .form_area{
    width: 100%;
  }
}